@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book

@*For each book, we want to store the following info:
• Title
• Author
• Publisher
• ISBN

• Classification/Category
• Number of Pages
• Price *@

<div class="card m-1 p-3">
    <div class="card-body">
        <h4 class="card-title">@Model.Title</h4>
        <ul class="list-unstyled">
            <li><strong>Author:</strong> @Model.Author</li>
            <li><strong>Publisher:</strong> @Model.Publisher</li>
            <li><strong>ISBN:</strong> @Model.ISBN</li>
            <li><strong>Classification:</strong> @Model.Classification</li>
            <li><strong>Category:</strong> @Model.Category</li>
            <li><strong>Number of Pages:</strong> @Model.PageCount</li>
            <li><strong>Price:</strong> $@Model.Price</li>
        </ul>
    </div>
</div>